@charset "UTF-8";

#Title{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#TitleSite{
    font-family: monospace;
    color:rgb(204, 131, 204);
}

#NomeMoeda1, #NomeMoeda2{
    margin: 30px;
    font-size: xx-large;
}

#Cotações{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;

}


#Troca1, #Troca2{
    background-image: url(troca-removebg-preview.png);
    width: 65px;
    height: 61px;
    background-position: 6px 5px;
    background-repeat: no-repeat;
    background-size: 47px 50px;
}

#dólar, #euro, #libra, #peso, #dolarCanada{
    width: 300px;
    height: 70px;
    margin: 20px;
    font-size: 30px;
}

#CotaçãoPeso,#CotaçãoDollar, #CotaçãoEuro, #CotaçãoLibra, #CotaçãoCanD{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#RealPeso, #RealDolar, #RealEuro, #Bitcoin, #RealLibra, #RealCanD{
    display: flex;
}

#EscritoDólar, #EscritoReal1, #EscritoEuro, #EscritoReal2,
#EscritoReal3,#EscritoReal4 ,#EscritoLibra, #EscritoPeso, 
#EscritoCanD, #EscritoReal5{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 87px;
}

#real1, #real2, #real3, #real4, #real5{
    width: 328px;
    height: 76px;
    color: black;
    font-size: 30px;
    margin: 20px;
}

#Ações{
    display: inline-flex;
}

#CotaçãoNASDAQ, #CotaçãoIFIX,#CotaçãoBitcoin, #CotaçãoIBOVESPA, #CotaçãoDOWJONES{
    margin: 20px;
}

#AjeitarNASDAQ,#AjeitarDollar,#AjeitarIFIX ,#AjeitarEuro, #AjeitarBTC, #AjeitarIBOV{
    display: flex;
    flex-direction: column;
    align-items: center;
}

